
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9; /* Blanco un pelín más oscuro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 0px 30px;
  }
  


  
