$camino-purple: #4A1D7F;
$camino-blue: #1E40AF;
$camino-gold: #D99130;
$camino-dark: #0F172A;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255 255 255 / 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 15px 30px;
}

.title-header {
  font-family: Georgia, serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: $camino-purple;
  line-height: 1.75rem;
}

.subtitle-header {
  font-size: 1rem;
  font-weight: 700;
  color: $camino-gold;
  line-height: 1.5rem;
}